<table class="w-full border-collapse border-t-2 border-l-2 border-b-2 border-gray-800 p-2 mt-5">
  <thead>
    <tr>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Name</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Surname</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Email</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Test1</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Test2</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Test3</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Test4</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Final</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Grade</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Status</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Total scores sum</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Total scores avg</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Highest score</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Lowest score</th>
      <th class="border-b-2 border-r-2 border-gray-700 p-2">Performance</th>
    </tr>
  </thead>
    <% student_records.each do |student_record| %>
      <tbody>
        <tr>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.name %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.surname %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.email %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.test1 %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.test2 %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.test3 %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.test4 %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.final %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.grade %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.status %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.total_scores_sum %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.total_scores_avg %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.highest_score %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.lowest_score %></td>
          <td class="border-b-2 border-r-2 border-gray-700 p-2"><%= student_record.performance_check %></td>
        </tr>
      </tbody>
    <% end %>
</table>

<div class="mt-4">
  <nav class="flex justify-between">
    <span class="py-2 px-4 bg-gray-200 rounded-md">
      <%== pagy_nav(pagy) %>
    </span>
  </nav>
</div>
