<h1>Student records</h1> 
<%= link_to 'Download Sample File', download_sample_student_records_path %>
<%= link_to 'Clear all filters', student_records_path %>

<%= render 'search_form', q: @q %>

<%= form_with(url: import_student_records_path, method: :post) do |f| %>
  <%= f.file_field :file, accept: '.csv' %>
  <%= f.submit 'Import' %>
<% end %>


<%= button_to 'Destroy all records', destroy_all_student_records_path, method: :delete %>

<div>
  <%== pagy_nav(@pagy) %>
</div>
